* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
}

.xwrapper {
    width: 50%;
    display: flex;
    align-items: center;

}

.loginwrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    color: #898080;
}

.wrapperheading {
    display: flex;
    align-items: self-start;
}

.wrapperheading h1 {
    font-size: 45px;
    color: #fff;
    font-family: sans-serif;
}

.minheading {
    font-size: 25px;
    color: #fff;
    font-family: sans-serif;
}

.signupbutton {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.oauthButton {
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: none;
    background-color: #fff;
    cursor: pointer;


}

.oauthButton p {
    font-family: poppins;
    font-size: 14px;
    color: #898080;
}


.oauthButton:hover {
    color: #e8e8e8;
}

.orwraper {
    display: flex;
    align-items: center;

}

.orwraper hr {
    border: 0;
    background-color: #898080;
    height: 1px;
    width: 120px;


}

.orwraper span {
    text-align: center;
    width: 40px;
    color: #fff;
    font-family: poppins;
    font-size: 20px;
}

.btn-acc {
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: none;
    background-color: #1D9BF0;
    cursor: pointer;


}

.btn-acc p {
    font-family: poppins;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}


.btn-acc:hover {
    color: #e8e8e8;
}