* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.xwrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginwrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    color: #898080;
}

.wrapperheading {
    display: flex;
    /* height: 400px; */
    align-items: baseline;
    flex-direction: column;

}

.wrapperheading h1 {
    font-size: 64px;
    color: #E7E9EA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3rem;
}

.minheading h6 {
    font-size: 31px;
    color: #E7E9EA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 0 0 3rem 0;
}

.signupbutton {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.oauthButton {
    width: 310px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: none;
    background-color: #fff;
    cursor: pointer;

}

.oauthButton p {
    font-family: poppins;
    font-size: 14px;
    color: #3C4043;
    text-transform: capitalize;
}


.oauthButton:hover {
    color: #e8e8e8;
}

.orwraper {
    display: flex;
    align-items: center;
    padding: 5px 0;

}

.orwraper hr {
    border: 0;
    background-color: #898080;
    height: 0.5px;
    width: 140px;


}

.orwraper span {
    text-align: center;
    width: 40px;
    color: #fff;
    font-family: poppins;
    font-size: 15px;
}

.btn-acc {
    width: 330px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: none;
    background-color: #1D9BF0;
    cursor: pointer;


}

.btn-acc p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}


.btn-acc:hover {
    color: #e8e8e8;
}

.privacy-del {
    font-size: 13px;
    padding: 10px 5px;
    color: #898080;
}

.privacy-del span {
    color: #1D9BF0;
}

.create-acc h2 {
    padding: 10px 5px;
}

.already-acc-btn {
    width: 330px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    border: none;
    background-color: transparent;
    border: 1px solid #1D9BF0;
    color: #000;
    cursor: pointer;
}

.already-acc-btn p {
    font-size: 20px;
    font-family: poppins;
    font-weight: 700;
    color: #1D9BF0;
    text-transform: capitalize;

}